body {
	font-family: "Roboto";
	color: #212121;
	--hf-color: #2f303a;
}

/* «С5» Текст контактов в хедере и футере меняет цвет при ховере и фокусе. */
/* .link:hover,
.link:focus {
	color: #2196f3;
} */

/* «C6» Для хранения палитры цветов макета (текст, фон, выделение) используются CSS-переменные. */
/* :root {
	--my-color: rgb(219, 152, 8);
	--my-hf-color: #2f303a;
} */

/* «С16» Кнопкам задано свойство cursor со значением pointer. */
/* a:hover {
	cursor: pointer;
} */
