* {
	list-style: none;
	text-decoration: none;
	font-style: normal;
}

/* :root {
	--first-text-color: #2f303a;
	--second-text-color: #757575;
	--my-blue: #2196f3;
} */

body {
	font-family: "Roboto";
	font-style: normal;
	color: #212121;
	--first-text-color: #212121;
	--second-text-color: #757575;
	--my-blue: #2196f3;
}

/* Header */
.header-bg {
	background: #ffffff;
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	/* identical to box height */
	letter-spacing: 0.03em;
	color: var(--my-blue);
}

.logo-header {
	color: #000000;
}

.logo-footer {
	color: #ffffff;
}

.header-nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--first-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
	color: var(--my-blue);
}

.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
	color: var(--my-blue);
}

/* Footer  */
/* .footer-address-link {
	font-style: normal;
} */
.footer-bg {
	background: #2f303a;
}

.footer-link-address {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #ffffff;
}

.footer-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.footer-link-address:hover,
.footer-link-address:focus,
.footer-link:hover,
.footer-link:focus {
	color: var(--my-blue);
}

/* «C4» У интерактивных элементов (кнопок и ссылок), при наведении мышкой или фокусе с клавиатуры, есть активное состояние указанное в макете (изменение цвета). */

/* «С5» Текст контактов в хедере и футере меняет цвет при ховере и фокусе. */
/* .link:hover,
.link:focus {
	color: #2196f3;
} */

/* «C6» Для хранения палитры цветов макета (текст, фон, выделение) используются CSS-переменные. */
/* :root {
	--my-color: rgb(219, 152, 8);
	--my-hf-color: #2f303a;
} */

/* «С16» Кнопкам задано свойство cursor со значением pointer. */
/* a:hover {
	cursor: pointer;
} */
