* {
	text-decoration: none;
	/* font-style: normal; */
}
:root {
	--first-text-color: #212121;
	--second-text-color: #757575;
	--my-white: #ffffff;
	--my-blue: #2196f3;
}

body {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--my-white);
	color: var(--first-text-color);
}

.list {
	list-style: none;
}

/* Header index.html */
.header-bg {
	background: var(--my-white);
}

.logo {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: var(--my-blue);
}

.logo-header {
	color: #000000;
}

.logo-footer {
	color: var(--my-white);
}

.header-nav-link {
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--first-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
	color: var(--my-blue);
}

.header-nav-link.current {
	color: var(--my-blue);
}

.header-link {
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus,
.header-link:active {
	color: var(--my-blue);
}

/* Main index.html */
.main-had-bg {
	background-color: #2f303a;
}

.main-text {
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--my-white);
}

.main-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	/* display: flex; */
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--my-white);
	background: var(--my-blue);
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
	/* border-radius: 4px; */
	/* border: none; */
}

.main-btn:hover,
.main-btn:focus,
.main-btn:active {
	background: #188ce8;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
	/* border-radius: 4px; */
	/* border: none; */
}

/* Наши основные особенности index.html */
/* .main-basic {
	opacity: 0;
} */

.main-basic-first {
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--first-text-color);
}

.main-basic-second {
	line-height: 24px;
	color: var(--second-text-color);
}

.main-doing {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: var(--first-text-color);
}

.main-team-bg {
	background: #f5f4fa;
}

.main-team {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: var(--first-text-color);
}

.main-team-first {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: var(--first-text-color);
}

.main-team-second {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: var(--second-text-color);
}

/* Footer index.html  */

.footer-bg {
	background: #2f303a;
}

.footer-link-address {
	font-style: normal;
	line-height: 24px;
	color: var(--my-white);
}

.footer-link {
	font-style: normal;
	line-height: 24px;
	/* or 171% */
	color: rgba(255, 255, 255, 0.6);
}

.footer-link-address:hover,
.footer-link-address:focus,
.footer-link-address:active,
.footer-link:hover,
.footer-link:focus,
.footer-link:active {
	color: var(--my-blue);
}

/* Main portfolio.html */
/* .main-filters-text {
	opacity: 0;
} */

.main-filters-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: var(--first-text-color);
	background: #f5f4fa;
	/* border-radius: 4px; */
	/* border: none; */
}

.main-filters-btn:hover,
.main-filters-btn:focus,
.main-filters-btn:active {
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: var(--my-white);
	background-color: var(--my-blue);
	/* border: none; */
}

/* .main-all-services {
	opacity: 0;
} */

.main-all-services-test-first {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: var(--first-text-color);
}

.main-all-services-test-second {
	font-size: 16px;
	line-height: 30px;
	color: var(--second-text-color);
}
/* «C4» У интерактивных элементов (кнопок и ссылок), при наведении мышкой или фокусе с клавиатуры, есть активное состояние указанное в макете (изменение цвета). */

/* «C6» Для хранения палитры цветов макета (текст, фон, выделение) используются CSS-переменные. */
/* :root {
	--my-color: rgb(219, 152, 8);
	--my-hf-color: #2f303a;
} */

/* «С16» Кнопкам задано свойство cursor со значением pointer. */
/* 
	cursor: pointer;
} */

/* В ДЗ№2 не должны быть (скрыл их значение):
display:
box-shadow: 
border-radius:
border: 
opacity: 0; */

/* opacity: 0; - с значением 0 для скрытия отображения текста (h1.....h6, p) на странице, читалки при этом его видят и читают */

/* line-height: 26px; - так не правильно нужно только в множителе давать значения. 
Например, если в макете размер шрифта 16px а интерлиньяж 24px, просто делим 24 на 16 и получаем множитель 1.5. Использование множителя гарантирует равномерное масштабирование межстрочного интервала при изменении размера текста.

.text {
  font-size: 16px;
  line-height: 1.5;
} */
